@import "./colors"; 

.btn {
    padding: 5px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: $color-white;
    background-color: $color-white;
    font-size: 16px;
    cursor: pointer;
    &-primary {
        background-color: $color-primary;
    }

    &-primary:disabled {
        background-color: $color-grey-soft;
        color: $color-white;
    }

    &-icon {
        color: $color-grey;
        border: 1px solid $color-grey-soft;
    }

    &-icon:hover {
        background-color: $color-grey-soft;
    }

}

.btn-group {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}