
$color-primary: #1e1b1b;
$color-background: #eeeeee;
$color-grey: #393E46;
$color-grey-strong: #222831;
$color-grey-soft: rgb(170, 170, 170);
$color-red: red;
$color-white: white;
$color-green: #006D37;