body,
html {
  font-family: "roboto", "arial", sans-serif;
  margin: 0;
}

.image-zoom {
  transition: transform 0.3s ease;
}

.image-zoom:hover {
  transform: scale(1.05);
}

.border-radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.border-radius-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}